@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins;
}

@layer utilities {
  .btn_primary {
    @apply bg-blue-600 hover:bg-main hover:text-blue-600 hover:border-blue-600 border-transparent border-2 px-4 md:px-6 py-2 text-white transition-all transform;
  }
  .btn_secondary {
    @apply bg-white hover:bg-main hover:text-blue-600  hover:border-blue-600 border-gray-50 border-2 px-4 md:px-6 py-2 text-gray-50 transition-all transform;
  }

  .max-container {
    @apply mx-auto max-w-[1440px];
  }

  .padding-navbar {
    @apply px-6 sm:px-14 md:px-28 lg:px-0 xl:px-24;
  }

  .padding-container {
    @apply px-6 sm:px-14 md:px-28 lg:px-20;
  }

  .padding-home {
    @apply px-6 md:px-16 lg:px-24;
  }

  .bg-main {
    @apply bg-[#efefef];
  }

  .bg-secondary {
    @apply bg-blue-600;
  }

  /* FONTS */
  .regular-12 {
    @apply text-[12px] font-[400];
  }
  .regular-18 {
    @apply text-[18px] font-[400];
  }

  .medium-16 {
    @apply text-[16px] font-[500];
  }
  .medium-18 {
    @apply text-[18px] font-[500];
  }
  .medium-20 {
    @apply text-[20px] font-[500];
  }
  .medium-24 {
    @apply text-[24px] font-[500];
  }
  .semiBold-20 {
    @apply text-[20px] font-[600];
  }

  .semiBold-22 {
    @apply text-[22px] font-[600];
  }

  .semiBold-24 {
    @apply text-[24px] font-[600];
  }

  .bold-32 {
    @apply text-[32px] font-[700] leading-[120%];
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
